out: style.css

@primary : #E5376E;
@secondary : #383B41;
@font: 'Roboto', sans-serif;
@font-bold: 'Roboto-Black', sans-serif;
@grey: #F6F6F6;
@boxShadow: 10px 0 10px 0 rgba(0,0,0,0.15);
@transition: all 0.2s ease-out;

* {
  font-family: @font;
  margin: 0;
  padding: 0;
}

body { background-color: @grey };

.center {text-align: center;}
.centerImage {align-self: center; display: flex;}
.vertCent { display: flex; }

h1 {
  font-family: @font-bold;
  font-size: 50px;
  color: @primary;
  letter-spacing: 0;
  text-align: center;
  margin: 0px 0px 30px 0px;
}

h2 {
  font-family: @font-bold;
  font-size: 40px;
  color: @primary;
  letter-spacing: 0;
  text-align: center;
  margin: 0px 0px 10px 0px;
}

p {
  font-family: @font;
  font-size: 14px;
  color: #65696F;
  letter-spacing: 0;
  line-height: 24px;
  margin: 10px 0px;
}

button {
  background-color: #FFF;
  border: none;
  outline:none;
}

.btn {
  width: 100%;
  background-color: @primary;
  color: #FFF;
  height: 48px;
  width: 100%;
  line-height: 48px;
  border: none;
}

.container {
  width: ~"calc(100% - 60px)";
  padding: 15px 30px;
  display: flex;
  flex-direction: column;
}

.bgWhite { background-color: #FFF; min-height: 100vh;}

.number {
  width: 20px;
  height: 20px;
  background-color: @primary;
  color: #FFF;
  text-align: center;
  border-radius: 10px;
  font-size: 12px;
  line-height: 20px;
  margin- right: 10px;
  margin-top: 12px;
}

.avatarSmall {
  width: 124px;
  height: 124px;
  border-radius: 125px;
  margin: 20px;
}

.avatarBig {
  width: 242px;
  height: 242px;
  border-radius: 242px;
  margin: 20px;
}

.top {
  box-shadow: @boxShadow;
  z-index: 9;
  position: relative;
  background-color: #FFF;
}

.content {
  min-height: 100%;
  margin-bottom: 84px;
  #rules {
    .item {
      display: flex;
      margin-bottom: 5px;
      .left { width: 40px;}
      .right { width: ~"calc(100% - 40px)";}
    }
  }
  #score {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 50px;
    .left, .right { flex: 1 }
  }
}

.footer {
  position: fixed;
  width: 100vw;
  bottom: 0;
  display: flex;
  height: 83px;
  background-color: #FFF;
  box-shadow: @boxShadow;
  &.button { height: 112px; }
  .nav-item {
    width: 25%;
    height: 100%;
    flex-direction: row;
    &.active {
      color: @primary;
    }
  }
}
